<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d4b194ea-9025-4d1a-bf69-3e4acd860e62" name="Sample REST TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="d4b194ea-9025-4d1a-bf69-3e4acd860e62fileName">Sample-REST-TestSuite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="acad6ab4-c438-48d6-9139-51b804d81c29">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="eba90180-03a0-4581-835f-a9fa569d3181">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bffddcc0-2643-413f-a701-4ec0467f6e02">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
